#tq-timer {
  position: relative;
  top: 4px;
  width: 185px;
  height: 15px;
  border: 0;
}

.task {
  transition: background-color 0.5s;
}

.task.tq-active-timer {
  box-shadow: 0 0 8px green;
}

.task.tq-paused-timer {
  box-shadow: 0 0 8px red;
}

.task .id {
  padding-top: 3px;
}

.task.tq-active-timer .id .t:after,
.task.tq-paused-timer .id .t:after,
.task.tq-start-timer  .id .t:after {
  margin-left: 5px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
  transition: background-color 0.5s;
}

.task.tq-start-timer  .id .t:after {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0
}

.task.tq-paused-timer .id .t:after {
  background-color: red;
}

.task .id .tq-timer-button {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-position: -3px -3px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

.task:not(.hide-timer-toggle):hover .id .tq-timer-toggle,
.task.tq-active-timer .id .tq-timer-button,
.task.tq-paused-timer .id .tq-timer-button
{
  opacity: 1;
}

.task:not(.hide-timer-toggle):hover .id .tq-timer-button:hover {
  opacity: 0.5;
}

.task .id .tq-timer-start,
.task .id .tq-timer-continue
{
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/start.png') ;
}

.task .id .tq-timer-pause {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/pause.png');
}

.task .id .tq-timer-stop {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/stop.png');
}

@keyframes pulsate {
  0% {transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}

.tq-sticky-toolbar #toolbar {
  position: fixed;
  z-index: 999;
}

.tq-sticky-toolbar #main {
  padding-top: 30px;
}

#toolbar .links {
  background-color: #CCCCCC;
}
