#tq-timer {
  position: relative;
  top: 4px;
  width: 185px;
  height: 15px;
  border: 0;
}

#backlogs_container .backlog {
  background-color: #CCCCCC;
}

#backlogs_container .stories {
  border-top: 1px solid #AAAAAA;
  background-color: white;
}

#backlogs_container .closedbacklog, #backlogs_container .backlog {
  box-shadow: none !important;
  border-radius: 0 !important;
}

#backlogs_container .header .velocity {
  padding-right: 7px !important;
}

#backlogs_container .backlogs-panel-inner {
  padding: 10px 0 0 0 !important;
}

#backlogs_container .left-col {
  padding-right: 10px;
  box-sizing: border-box;
}

/* Backlog buttons */
.backlog > a,
body #backlogs_container .stories .story .id .t *,
body #backlogs_container .editing .edit-actions a {
  display: inline-block;
  line-height: 1.6;
  padding: 0 0.4em;
  border: 1px solid #CC0000;
  background: white;
  cursor: pointer;
  border-radius: 0;
  height: auto;
  width: auto;
}

.backlog > a {
  margin: 0.4em;
}

.backlog > a:first-child {
  margin-left: 0.4em;
}

.backlog > a:hover,
body #backlogs_container .stories .story .id .t *:hover,
body #backlogs_container .editing .edit-actions a:hover {
  text-decoration: none;
  background: #cc493e !important;
  color: white !important;
}

#backlogs_container .backlog .model {
  transition: opacity 0.2s ease-in-out;
}

#taskboard #tasks > tbody > tr > td {
  transition: background-color 0.2s ease-in-out;
}

#backlogs_container .stories .story {
  background-color: white !important;
  box-sizing: border-box !important;
  padding: 5px;
  /* Need auto dimensions for during dragging. */
  height: auto !important;
}

#backlogs_container .stories .story:last-child {
  border-bottom: none !important;
}

/*Drag styling*/
#backlogs_container .stories .story[style*="absolute"] {
  box-shadow: 5px 5px 2px rgba(0,0,0, 0.3);
  border: 1px solid grey !important;
}

#backlogs_container .stories .story > div {

}

#backlogs_container .stories .story_field {
  padding: 0 !important;
  line-height: 1.5;
}

#backlogs_container .stories .story:hover {
  background-color: rgba(182, 182, 182, 0.2) !important;
}

#backlogs_container .stories .story.editing {
  padding: 5px;
  border: 2px solid #cc493e;
}

#backlogs_container .stories .story.editing .subject.editor {
  border: none;
  resize: none;
  outline: none;
  background: transparent;
}

#backlogs_container .editing .edit-actions a {
  margin: 5px 0 0 5px !important;
}

#backlogs_container .stories .editing .edit-actions {
  clear: none !important;
  float: right;
}

#backlogs_container .backlog .model.approved:not(.editing) {
  background-color: #00a300 !important;
  opacity: .5;
  color: white;
}

#taskboard #tasks tr.approved {
  background-color: rgba(0, 163, 0, 0.2);
}

#backlogs_container .backlog .model.closed:not(.editing) {
  background-color: #b6b6b6 !important;
  opacity: .5;
}

#taskboard #tasks tr.closed {
  background-color: rgba(182, 182, 182, 0.2);
}

#backlogs_container .backlog .model.ready-for-test:not(.editing) {
  background-color: #ffd800 !important;
  opacity: .5;
  color: black;
}

#taskboard #tasks tr.ready-for-test {
  background-color: rgba(255, 216, 0, 0.2);
}

#backlogs_container .backlog .model.ready-to-deploy:not(.editing) {
  background-color: #0062FF !important;
  opacity: .75;
  color: white;
}

#taskboard #tasks tr.ready-to-deploy {
  background-color: rgba(0, 98, 255, 0.2);
}

#backlogs_container .backlog .model.rejected:not(.editing) {
  background-color: #CC0000 !important;
  opacity: .5;
  color: white;
}

#taskboard #tasks tr.rejected {
  background-color: rgba(204, 0, 0, 0.2);
}

#backlogs_container .backlog .model.in-progress:not(.editing) .status_id {
  color: #00a300;
}

#backlogs_container .backlog .model:hover {
  opacity: 1 !important;
}

#taskboard #tasks tr:hover td {
  background-color: rgba(255, 255, 255, 0.3);
}

.task {
  transition: background-color 0.5s;
}

.task.tq-active-timer {
  box-shadow: 0 0 8px green;
}

.task.tq-paused-timer {
  box-shadow: 0 0 8px #CC0000;
}

.task .id {
  padding: 3px 3px 0 3px;
  line-height: 10px;
}

.task.tq-active-timer .id .t:after,
.task.tq-paused-timer .id .t:after,
.task.tq-start-timer  .id .t:after {
  margin-left: 5px;
  content: ' ';
  display: block;
  position: relative;
  float: right;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  transition: background-color 0.5s;
}

.task.tq-start-timer  .id .t:after {
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
}

.task.tq-paused-timer .id .t:after {
  background-color: #CC0000;
}

.task .id .tq-timer-button {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

.task:not(.hide-timer-toggle):hover .id .tq-timer-toggle,
.task.tq-active-timer .id .tq-timer-button,
.task.tq-paused-timer .id .tq-timer-button
{
  opacity: 1;
}

.task:not(.hide-timer-toggle):hover .id .tq-timer-start:hover,
.task:not(.hide-timer-toggle):hover .id .tq-timer-continue:hover,
.task:not(.hide-timer-toggle):hover .id .tq-timer-pause:hover,
/* Only change opacity for stop button if task is active or paused */
.task.tq-active-timer:not(.hide-timer-toggle):hover .id .tq-timer-stop:hover,
.task.tq-paused-timer:not(.hide-timer-toggle):hover .id .tq-timer-stop:hover
{
  opacity: 0.5;
}

.task .id .tq-timer-start:after,
.task .id .tq-timer-continue:after
{
  display: block;
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #CC0000;
}

.task .id .tq-timer-pause {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0 4px 0 4px;
  border-color: #CC0000;
}

.task .id .tq-timer-stop {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #CC0000;
}

@keyframes pulsate {
  0% {opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {opacity: 0.0;}
}

.tq-sticky-toolbar #toolbar {
  position: fixed;
  z-index: 999;
}

.tq-sticky-toolbar #board_header {
  position: fixed !important;
  top: 30px !important;
}

#toolbar {
  overflow: visible !important;
}

#toolbar .links {
  background-color: #CCCCCC;
}

#impediments {
  margin-top: 16px;
}

.userselect {
  margin-top: 4px;
}

#backlogs_container .stories .story_field {
  height: inherit !important;
}

#taskboard .issue .t {
  line-height: 8px;
}

/* Chosen overwrites */

.chosen-container {
  text-align: left !important;
}

.chosen-container a {
  color: #1e1e1e !important;
}

.chosen-rtl .chosen-search input[type="text"],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type="text"],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
  /* Two images hack to support at least one working image in chrome or firefox*/
  background-image: url('chrome-extension://__MSG_@@extension_id__/libraries/chosen/chosen-sprite.png'), url('moz-extension://751da5d6-61bc-4dca-8d75-d5c3448b8050/libraries/chosen/chosen-sprite.png') !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    /* Two images hack to support at least one working image in chrome or firefox*/
    background-image: url('chrome-extension://__MSG_@@extension_id__/libraries/chosen/chosen-sprite@2x.png'), url('moz-extension://751da5d6-61bc-4dca-8d75-d5c3448b8050/libraries/chosen/chosen-sprite@2x.png') !important;
  }
}

/* Breakpoints, the top toolbar stacks on top of each other in two rows. */
@media only screen and (max-width: 1200px){
  #toolbar {
    height:60px !important;
  }

  .tq-sticky-toolbar #board_header {
    top: 60px !important;
  }

  #impediments {
    margin-top: 46px;
  }
}
